body{
    background-image: linear-gradient(to right, black, gray);
}
.troca{
    text-align: center;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkgrey;
    padding: 5%;
    border: 100vh;
}
.tamanho{
    max-width: 50%;
    height: 15%;
    background-color: aqua;
}
.tamanho2{
    max-width: 30%;
    height: 15%;
    background-image: url(copocheio.png);
}
.texto{
    background-color: yellowgreen;

}
#copoCheio{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30%;
    height: 30%;
}

/*oi*/
